[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
flask-security = "*"
"argon2-cffi" = "*"

[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "3.7"
